
:root {
    --bg: cornsilk;
    --accent: lightblue;
    --text: saddlebrown;
    --gen-font-fam: 'Courier New', Courier, monospace;
    --container-max-width: 50vw;                                /*half screen width*/
    --container-contact-container: 0 10rem 0;
}

body {
    font-family:var(--gen-font-fam);
    background: var(--bg);
    
}

.contact-container {
    max-width: var(--container-max-width);
    margin: 0 auto;                                             /*pushes equal space on both sides, centering the container horizontally.*/
    padding: var(--container-contact-container);

    
}

.projects-container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 5rem;
}

#contact {
    text-align: center;
    font-size: 1rem;
}

#contact h6 {
    margin-bottom: 0.5rem;
}

#contact p {
    margin: 0.2rem;
}