
:root {
    --bg: cornflower;
    --accent: lightblue;
    --text: darkbrown;
}

body {
    font-family:'Courier New', Courier, monospace;
    background: var(--bg);
    
}

#contact h6 {
    margin-bottom: 0.5rem;
}